Node-REDflows.json
[{"id":"816ada37.8c4678","type":"tab","label":"Connections","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"816ada37.8c4678","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":148,"y":74.99999809265137,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"816ada37.8c4678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":401,"y":87,"wires":[]},{"id":"e41c1046.236a5","type":"cloudant out","z":"816ada37.8c4678","name":"","cloudant":"","database":"storedata","service":"node-red-neomi-cloudant-1587568846722-12806","payonly":false,"operation":"insert","x":463.0001564025879,"y":341.00015926361084,"wires":[]},{"id":"a7ca06c.8fa64f8","type":"ibmiot in","z":"816ada37.8c4678","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"status","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":197.8958282470703,"y":274.0000047683716,"wires":[["dfa07993.5df218","e41c1046.236a5"]]},{"id":"dfa07993.5df218","type":"debug","z":"816ada37.8c4678","name":"","active":false,"console":"false","complete":"false","x":446.8958282470703,"y":180.0000057220459,"wires":[]},{"id":"8027981a.d6d4c8","type":"comment","z":"816ada37.8c4678","name":"Connections for accessing device data on Watson from database on Cloudant","info":"","x":312.3298645019531,"y":31.42708396911621,"wires":[]}]